Add TLSA record validation for federation

**Description:**
Add `TLSA` record validation for outgoing federation connections. If `SRV` or `.well-known` points us to `synapse.example.com:8448` we would like to:

1. Check if  `TLSA` record for `_8448._tcp.synapse.example.com` exists in the DNS
2. Validate the `TLSA` record against the TLS certificate chain presented by the federation server

Details of the latter depend on semantics of the `TLSA` record. [swede](https://github.com/pieterlexis/swede/blob/master/swede) can be used as a reference Python implementation.

* [RFC6698](https://tools.ietf.org/html/rfc6698)
* [RFC7671](https://tools.ietf.org/html/rfc7671)
* [RFC7218](https://tools.ietf.org/html/rfc7218)

What would be the reasoning for this and to do what in which scenario?

@olmari TLSA should be validated for each outgoing TLS connection to another federation server, in a similar manner as OCSP and CRL lists are checked. The latter are usually part of standard TLS certificate validation libraries, while DANE is not. The purpose is pretty much the same as the TLS certificate validation - prevent man-in-the-middle attacks, primarily country-wide, in countries that perform intrusive Internet surveillance on their citizens.

Since this requires DNSSEC to be trusted at all, and DNSSEC has rather trivial downgrade vulnerabilities if you're a nation-state actor, the chances that this is at all useful in practice is vanishingly low when we're already requiring CA validation (which, iirc, uses the Moz cert store).

Due to this being protocol-level, though, this is something that would require a Matrix spec issue/PR created at https://github.com/matrix-org/matrix-doc instead, so I'm going to close this issue.

DANE can be useful if server connected to overlay networks with dns infrastructures. Like cjdns, yggdrasil, lokinet and/or opennic,namecoin, alfis etc. name systems.